<h2 class="page-header">Search Books</h2>

<form action="/books" method="GET">
  <!-- search by title -->
  <div class="form-row">
    <div class="form-field">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>

  <!-- search by published after -->
  <div class="form-row">
    <div class="form-field">
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-field">
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>

  <!-- search by published before -->
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>

<%- include('../partials/imageCover', { books: books , large: true}) %>