<header>
  <nav class="header-nav">
    <a href="/" class="header-title">Mybrary</a>
    <ul>
      <li><a class="fw-500" href="/books">All Books</a></li>
      <li><a class="fw-500" href="/books/new">New Book</a></li>
      <li><a class="fw-500" href="/authors">All Authors</a></li>
      <li><a class="fw-500" href="/authors/new">New Author</a></li>
    </ul>
  </nav>
</header>