<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mybrary</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <!-- filepond stylesheet -->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <!-- filepond image preview css -->
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <!-- Filepond encode plugin -->
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <!-- Filepond image resize plugin -->
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <!-- File pond image preview -->
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <!-- filepond js file -->
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/js/fileUpload.js"></script>
</head>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <div class="inner-container">
      <%- include('../partials/errorMessage') %>
      <%- body %>
    </div>
  </div>
</body>
</html>