:root {
  --color-button-border: black;
  --color-primary-button-text: hsl(var(--color-hue-value), 100%, 20%);
  --color-primary-button-background: hsl(var(--color-hue-value), 100%, 80%);
  --color-danger-button-background: hsl(var(--color-danger-hue-value), 100%, 83%);
  --color-danger-button-text: black;
  --color-primary-button-text-dark: hsl(var(--color-hue-value), 100%, 10%);
  --color-primary-button-background-dark: hsl(var(--color-hue-value), 100%, 70%);
  --color-danger-button-background-dark: hsl(var(--color-danger-hue-value), 100%, 70%);
  --color-danger-button-text-dark: black;
}

.btn {
  border: 1px solid var(--color-button-border);
  text-decoration: none;
  font-family: 'Gotham Rounded';
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  background: var(--color-primary-button-background);
  color: var(--color-primary-button-text);
}

.btn-primary:hover {
  background: var(--color-primary-button-background-dark);
  color: var(--color-primary-button-text-dark);
}

.btn-danger {
  background: var(--color-danger-button-background);
  color: var(--color-danger-button-text);
}

.btn-danger:hover {
  background: var(--color-danger-button-background-dark);
  color: var(--color-danger-button-text-dark);
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}

@media (max-width: 400px) {
  .btn-row {
    justify-content: center;
  }
}