:root {
  --color-hue-value: 200;
  --color-hue-offset: 180;
  --color-background-dark: hsl(var(--color-hue-value), 100%, 8%);
  --color-background-light: hsl(var(--color-hue-value), 100%, 16%);
  --color-text-light: hsl(var(--color-hue-value), 100%, 87%);
  --color-danger-hue-value: calc(var(--color-hue-value) - var(--color-hue-offset));
}